@import "libs/bootstrap-reboot.min";
@import "libs/fonts";


html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6, p{
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'MazzardL-Regular', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
}


.container {
  max-width: 1500px;
  margin: 0 auto;
}


@import "blocks/menu";