.menu {
  padding-top: 26px;
  background-color: #F5F5F5;
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  &__list {
    display: flex;
    li:not(:last-child) {
      margin-right: 28px;
    }
    a {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #3B3B3B;
      text-decoration: none;
    }
  }
  &__contact {
    position: relative;
    left: 14vw;
    p,
    &-addr {
      font-size: 13px;
      text-transform: uppercase;
      color: #3B3B3B;
    }
    b > &-addr {
      color: black;
    }
  }

}